In [24]:
# utils
import pandas as pd
import os
import numpy as np
from nltk.tokenize import word_tokenize
from tqdm import tqdm
import ast
import re
from scipy.stats import ttest_rel

# evaluation 
from evaluate import load

In [25]:
df = pd.read_csv('generations/fine-tuned-LLaMAntino-3-ANITA-8B-Inst-DPO-ITA-it-step2_gen0.csv')
df.head()

,eids,data_unit,prediction,actual,generation
0,Id480,Ciudad_Ayala country Mexico | Ciudad_Ayala gov...,"Ciudad Ayala, in Messico, è una città con una ...","[""Ciudad Ayala è una città situata in Messico ...","[{'role': 'system', 'content': '\n You ..."
1,Id110,Olga_Bondareva almaMater Leningrad_State_Unive...,Olga Nikolaevna Bondareva è nata il 27 aprile ...,"[""Olga Bondareva (nata Olga Nikolaevna Bondare...","[{'role': 'system', 'content': '\n You ..."
2,Id775,"Alan_B._Miller_Hall address ""101 Ukrop Way"" | ...","L'Alan B Miller Hall, situato al numero 101 di...","[""La Mason School of Business (negli Stati Uni...","[{'role': 'system', 'content': '\n You ..."
3,Id1722,Abraham_A._Ribicoff birthPlace United_States |...,Abraham A. Ribicoff è nato negli Stati Uniti e...,"[""Abraham A. Ribicoff è nato negli Stati Uniti...","[{'role': 'system', 'content': '\n You ..."
4,Id539,ENAIRE city Madrid | Madrid country Spain | Ad...,"ENAIRE si trova a Madrid, in Spagna, dove si t...","[""L'aeroporto Adolfo Suárez Madrid-Barajas si ...","[{'role': 'system', 'content': '\n You ..."

In [26]:
# get all eid
eids = df['eids'].unique()
len(eids)

710

In [27]:
# open files in generations directory
def open_files(directory):
    files = os.listdir(directory)
    files.sort()
    return files

In [28]:
# open files into generations/old
files = open_files('generations/old')
dfs = []
for file in files:
    df = pd.read_csv(f'generations/old/{file}')
    dfs.append(df)

In [29]:
#foreach file mantains only the rows with the eids in the list
def filter_eids(df, eids):
    return df[df['eids'].isin(eids)]


# filter all the dataframes
dfs = [filter_eids(df, eids) for df in dfs]

# save in generations
for i, df in enumerate(dfs):
    df.to_csv(f'generations/{files[i]}', index=False)